

        <div class="card">
          <p-toast></p-toast>
          <p-toolbar styleClass="mb-4 gap-2">
              <ng-template pTemplate="left">
                  <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                  <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedDemandes()" [disabled]="!selectedDemandes || !selectedDemandes.length"></button>
              </ng-template>
      
              <ng-template pTemplate="right">
                 
                  <button pButton pRipple label="Exporter" icon="pi pi-upload" class="p-button-help" (click)="exportSelectedDemandesToPDF()"></button>
              </ng-template>
          </p-toolbar>
      
          <p-table
              #dt
              [value]="demandes"
              [rows]="10"
              [paginator]="true"
              [globalFilterFields]="['id', 'typeDePermission.nom', 'description', 'dateDebut', 'dateFin', 'statutDemande.libelle']"
              [tableStyle]="{ 'min-width': '50rem' }"
              [(selection)]="selectedDemandes"
              [rowHover]="true"
              dataKey="id"
              currentPageReportTemplate="Affichage de {first} à {last} de {totalRecords} demandes"
              [showCurrentPageReport]="true"
          >
              <ng-template pTemplate="caption">
                  <div class="flex align-items-center justify-content-between">
                      <h5 class="m-0">Gestion des Demandes de Permission</h5>
                      <span class="p-input-icon-left">
                          <i class="pi pi-search"></i>
                          <input pInputText type="text" (input)="filterGlobal($event, 'contains')" placeholder="Search..." />
                      </span>
                  </div>
              </ng-template>
              <ng-template pTemplate="header">
                  <tr>
                      <th style="width: 2rem">
                          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                      </th>
                      <th pSortableColumn="id" style="min-width:5rem">ID <p-sortIcon field="id"></p-sortIcon></th>
                      <th pSortableColumn="typeDePermission.nom" style="min-width:15rem">Type <p-sortIcon field="typeDePermission.nom"></p-sortIcon></th>
                      <th pSortableColumn="description" style="min-width:15rem">Description <p-sortIcon field="description"></p-sortIcon></th>
                      <th pSortableColumn="dateDebut" style="min-width:10rem">Date Debut <p-sortIcon field="dateDebut"></p-sortIcon></th>
                      <th pSortableColumn="dateFin" style="min-width:10rem">Date Fin <p-sortIcon field="dateFin"></p-sortIcon></th>
                      <th pSortableColumn="statutDemande.libelle" style="min-width:8rem">Status <p-sortIcon field="statutDemande.libelle"></p-sortIcon></th>
                      <th></th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-demande>
                  <tr>
                      <td>
                          <p-tableCheckbox [value]="demande"></p-tableCheckbox>
                      </td>
                      <td>{{ demande.id }}</td>
                      <td>{{ demande.typeDePermission.nom }}</td>
                      <td>{{ demande.description }}</td>
                      <td>{{ demande.dateDebut }}</td>
                      <td>{{ demande.dateFin }}</td>
                      <td>
                        <p-tag [value]="demande.statutDemande.libelle"  [severity]="getSeverity(demande.statutDemande.code)"></p-tag>
                      </td>
                      
                      <td>
                        <div class="flex">
                          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editDemande(demande)"></button>
                          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteDemande(demande)"></button>
                        </div>
                          
                      </td>
                  </tr>
              </ng-template>
              <ng-template pTemplate="summary">
                  <div class="flex align-items-center justify-content-between">{{ demandes ? demandes.length : 0 }} demandes au total.</div>
              </ng-template>
          </p-table>
      </div>
      
      
      <p-dialog [(visible)]="demandeDialog" [style]="{ width: '550px', height: '600px' }" header="Demande Details" [modal]="true" styleClass="p-fluid">
          <ng-template pTemplate="content">
              <div class="field">
                  <label for="type">Type</label>
                  <p-dropdown 
                      [options]="typeDePermissions" 
                      [(ngModel)]="demande.typeDePermission" 
                      optionLabel="nom"
                      inputId="type"
                      
                      placeholder="Selectionnez un type"  />
                 
                  <small class="p-error" *ngIf="submitted && !demande.typeDePermission">Le Type de permission est requis</small>
              </div>

              <div class="field">
                <label for="dateDebut">Date</label>
                <p-calendar 
                 [(ngModel)]="demande.dateDebut"
                 [showIcon]="true"
                 inputId="dateDebut"
                 (ngModelChange)="calculerDateFin()"
                  />
               
              </div>

              <div class="field">
                <label for="dateDebut">Date de Fin</label>
                <p-calendar 
                 [(ngModel)]="demande.dateFin"
                 [showIcon]="true"
                 inputId="dateFin"
                 [disabled]="true"
                 
                  />
               
              </div>

              

              <div class="field mt-4">
                    <label for="description">Description</label>
                    <textarea inputId="description" rows="5" cols="66" [(ngModel)]="demande.description" pInputTextarea></textarea>
                  
              </div>
              
             
          </ng-template>
      
          <ng-template pTemplate="footer">
              <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
              <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveDemande()"></button>
          </ng-template>
      </p-dialog>

      <p-dialog [(visible)]="deleteDemandDialog " header="Confirm" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span *ngIf="demande">Voulez vous vraiment supprimer cette demande de Permission ?</span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteDemandDialog = false"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteDemande(demande)"></button>
        </ng-template>
      </p-dialog>

      <p-dialog [(visible)]="deleteSeletedDemandDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span>Voulez vous vraiment supprimer toutes ces demandes ?</span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteSeletedDemandDialog = false"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confimSelectedDemandes()"></button>
        </ng-template>
    </p-dialog>
      
      <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>




  

 
 
  
  
