<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">
  <div
    class="position-relative overflow-hidden text-bg-light min-vh-100 d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center w-100">
      <div class="row justify-content-center w-100">
        <div class="col-md-8 col-lg-6 col-xxl-3">
          <div class="card mb-0">
            <div class="card-body">
              <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                <img src="../../assets/images/logos/logo.svg" alt="">
              </a>
              <p class="text-center">Sans Stress !</p>
              <form [formGroup]="registerForm" (ngSubmit)="register()">
                <div class="mb-3">
                  <label for="InputNom" class="form-label">Nom</label>
                  <input type="text" class="form-control" id="InputNom" formControlName="nom" aria-describedby="textHelp">
                </div>
                <div class="mb-3">
                  <label for="InputPrenom" class="form-label">Prénom</label>
                  <input type="text" class="form-control" id="InputPrenom" formControlName="prenom" aria-describedby="textHelp">
                </div>
                <div class="mb-3">
                  <label for="InputDepartement" class="form-label">Département</label>
                  <select name="InputDepartement" id="InputDepartement" class="form-select" formControlName="departement">
                    <option selected>Choisissez...</option>
                    <option value="DAI">DAI</option>
                    <option value="DQL">DQL</option>
                    <option value="DFT">DFT</option>
                    <option value="DCR">DCR</option>
                    <option value="BCG">BCG</option>
                    <option value="DGL">DGL</option>
                    <option value="DEO">DEO</option>
                    <option value="DXP">DXP</option>
                    <option value="DRT">DRT</option>
                    <option value="VTC">VTC</option>
                    <option value="DSF">DSF</option>
                    <option value="DPF">DPF</option>
                    <option value="DJD">DJD</option>
                    <option value="DLP">DLP</option>
                    <option value="DAP">DAP</option>
                    <option value="DDR">DDR</option>
                    <option value="DML">DML</option>
                    <option value="DCL">DCL</option>
                    
                  </select>
                </div>

                <div class="mb-3">
                  <label for="InputEmail1" class="form-label">Email</label>
                  <input type="email" class="form-control" id="InputEmail1" formControlName="email" aria-describedby="emailHelp">
                </div>
                <div class="mb-4">
                  <label for="InputPassword1" class="form-label">Mot de passe</label>
                  <input type="password" class="form-control" id="InputPassword1" formControlName="password">
                </div>
                <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign Up</button>
                <div class="d-flex align-items-center justify-content-center">
                  <a class="text-primary fw-bold ms-2" routerLink="/login">Sign In</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
